$brand-color-1: #1EADCE;
$brand-color-1: #6CD2EA;
$text-color-1: #222;
$circle-animation-start-color: RGBA(255,255,255,0);
$circle-animation-ripple-color: RGBA(255,255,255,0.2);
$circle-animation-start-shadow: 0 0 0 0 RGBA(255,255,255,0);
$circle-animation-ripple-shadow: 0 0 2vw 2vw RGBA(255,255,255,0.05);

// Button Colors
$button-blue-light: rgba(72,202,234,1);
$button-blue-dark: rgba(67,189,219,1);
$button-blue-border: #43bddb;
