$hero-section--circle-base: 5vw;




// Animations
$animation-name: default-name;
$animation-time: 1s;

@mixin circle-animation($animation-name) {
	-webkit-animation-name: $animation-name; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 5s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite;
    animation-name: $animation-name;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transition: 1s;
}

$start1: 10%;
$start2: 15%;
$start3: 20%;

@mixin circle-keyframes($animation-name, $start1, $start2, $start3) {
	@keyframes $animation-name {
	    0%   		{border-color: #fff;}
	    10%   		{border-color: #fff;}
	    15%   		{border-color: #EAFAFA;}
	    20%    		{border-color: #fff;}
	    100%   		{border-color: #fff;}
	}
}
@mixin  circle-animation-start-shadow {
	-webkit-box-shadow: $circle-animation-start-shadow;
	-moz-box-shadow: $circle-animation-start-shadow;
	box-shadow: $circle-animation-start-shadow;
}
@mixin  circle-animation-ripple-shadow {
	-webkit-box-shadow: $circle-animation-ripple-shadow;
	-moz-box-shadow: $circle-animation-ripple-shadow;
	box-shadow: $circle-animation-ripple-shadow;
}


@mixin transition {
	-webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
 
 @mixin drop-shadow {
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
}
@mixin drop-shadow-light {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}
@mixin vertical-center {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}