.section {
	padding-top: 180px;
	padding-bottom: 180px;
	padding-right: 20px;
	padding-left: 20px;
	// height: 100vh;
	// background-color: $brand-color-1;
}
.col-dark {
	background-color: #6CD2EA;
}
.col-white {
	background-color: #fff;
}
.col-bg {
	height: 100vh;
	position: fixed;
	// z-index: 1000;
}
.hero-section {
	// border: 20px solid #fff;
	position: relative;
	// text-align: center;
	min-height: 100vh;
	// padding-top: 180px;
	// background-color: #fff;
	// background-image: url('../../images/pressup_hero_bg.jpg');
	background-size: cover;
	// background-repeat: none;
	h1 {
		// font-weight: 700;
		font-size: 4.2rem;
		line-height: 1.4em;
		margin-bottom: 30px;
		margin-top: 0;
		color: #fff;
	}
	h2 {
		font-size: 1.5rem;
		font-weight: 300;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		line-height: 1.6rem;
		// margin-top: 10px;
		// margin-left: 15px;
		float: left;
		color: #fff;
	}
	h3 {
		font-weight: 300;
		font-size: 2.2rem;
		// line-height: 0.2rem;
		// color: #444;
		// text-transform: emphasis;
		span {
			font-style: italic;
		}
		color: #fff;
	}
	h4 {
		font-size: 1.2rem;
		font-weight: 300;
		line-height: 1.6rem;
		margin-top: 8px;
		margin-left: 15px;
		float: left;
		color: #fff;
	}
}
.hero-section--gradient-overlay {
	padding-top: 14%;
	border: 20px solid #fff;
	position: relative;
	width: 100%;
	height: 100vh;
	background: rgb(57,183,221);
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzOWI3ZGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDVhYmUwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-radial-gradient(center, ellipse cover,  rgba(57,183,221,1) 0%, rgba(5,171,224,1) 100%);
background: -webkit-radial-gradient(center, ellipse cover,  rgba(57,183,221,1) 0%,rgba(5,171,224,1) 100%);
background: radial-gradient(ellipse at center,  rgba(57,183,221,1) 0%,rgba(5,171,224,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#39b7dd', endColorstr='#05abe0',GradientType=1 );


}
.hero-section--content-container {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.hero-section--app-container {
	// position: fixed;
	// text-align: right;
}
.hero-section--app-image {
	// top: 40px;
	max-width: 330px;
	position: fixed;
	top: 150px;
	// top: 180px;
	// right: 0;
	// margin: auto;
	display: inline-block;
	// margin-right: 20px;
	// @include drop-shadow;
	// float: left;
}
.hero-section--app-icon {
	max-width: 90px;
	// float: left;
	margin-right: 30px;
	// margin-bottom: 100px;
}
.hero-section--input {
	width: 70%;
	border: none;
	padding: 10px 16px;
	position: relative;
	float: left;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.hero-section--submit {
	width: 30%;
	border: 1px solid #222;
	padding: 10px;
	position: relative;
	float: left;
	color: #fff !important;
	background: -moz-linear-gradient(top,  $button-orange-light 0%, $button-orange-dark 100%);
	background: -webkit-linear-gradient(top,  $button-orange-light 0%,$button-orange-dark 100%);
	background: linear-gradient(to bottom,  $button-orange-light 0%,$button-orange-dark 100%);
	border: 1px solid $button-orange-border;
	@include transition;
	border: none;
	color: #fff;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.hero-section--submit:hover {
	background: -moz-linear-gradient(top, darken($button-orange-light,2%), darken($button-orange-dark,2%));
	background: -webkit-linear-gradient(top,  darken($button-orange-light,2%), darken($button-orange-dark,2%));
	background: linear-gradient(to bottom,  darken($button-orange-light,2%), darken($button-orange-dark,2%));
	// border: 1px solid darken($button-blue-border, 10%);
}
.hero-section--submit:after {
	content: "";
	display: block;
	position: relative;
	background-color: #222;
	height: 0;
	width: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid black;


}
.hero-section--scroll-btn {
	position: absolute;
	bottom: 35px;
	left: 50%;
	display: block;
	width: 100px;
	text-align: center;
	margin-left: -50px;
	border: 0;
	color: #fff;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.hero-section--scroll-btn:hover,
.hero-section--scroll-btn:focus,
.hero-section--scroll-btn:active {
	border-bottom: 0;
	color: #fff;
	text-decoration: none;
}
.hero-section--scroll-btn:after {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	border-right: 3px solid #fff;
	border-bottom: 3px solid #fff;
	border-radius: 2px;
	// border-bottom-right-radius: 4px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
	z-index: 100;
	left: 50%;
	margin-left: -10px;
	top: -5px;
	@include transition;
}
// .hero-section--scroll-btn:hover:after {
// 	width: 15px;
// 	height: 15px;
// 	// top: -20px;
// 	// margin-left: -20px;
// }
.section--content-wrapper {
	min-height: 100vh;
	position: relative
}
.section--content-container {
	@include vertical-center;
}
.vertical-center {
	@include vertical-center;
}




// Circle Animations

.hero-section--circle {
	position: fixed;
	border: 1px solid #fff;
	border-radius: 50%;
	left: 50%;
	top: 50%;
	z-index: -100;
	box-shadow: 0 0 0 0 RGBA(255,255,255,0);
	@include transition;
}
.hero-section--circle-1 {
	width: $hero-section--circle-base;
	height: $hero-section--circle-base;
	margin-left: -($hero-section--circle-base / 2);
	margin-top: -($hero-section--circle-base / 2);
	@include circle-animation(circle-1);
}
@keyframes circle-1 {
    0%   		{border-color: $circle-animation-start-color;  }
    5%   		{border-color: $circle-animation-start-color;  }
    7%   		{border-color: $circle-animation-ripple-color; @include circle-animation-ripple-shadow}
    9%    		{border-color: $circle-animation-start-color;   }
    100%   		{border-color: $circle-animation-start-color;  }
}
.hero-section--circle-2 {
	width: ($hero-section--circle-base + 10vw);
	height: ($hero-section--circle-base + 10vw);
	margin-left: -(($hero-section--circle-base + 10vw) / 2);
	margin-top: -(($hero-section--circle-base + 10vw) / 2);
@include circle-animation(circle-2);
}
@keyframes circle-2 {
    0%   		{border-color: $circle-animation-start-color;  }
    7%   		{border-color: $circle-animation-start-color;  }
    9%   		{border-color: $circle-animation-ripple-color; @include circle-animation-ripple-shadow}
    11%    		{border-color: $circle-animation-start-color;  }
    100%   		{border-color: $circle-animation-start-color;  }
}
.hero-section--circle-3 {
	width: ($hero-section--circle-base + 20vw);
	height: ($hero-section--circle-base + 20vw);
	margin-left: -(($hero-section--circle-base + 20vw) / 2);
	margin-top: -(($hero-section--circle-base + 20vw) / 2);
	@include circle-animation(circle-3);
}
@keyframes circle-3 {
    0%   		{border-color: $circle-animation-start-color;  }
    9%   		{border-color: $circle-animation-start-color;  }
    11%   		{border-color: $circle-animation-ripple-color; @include circle-animation-ripple-shadow}
    13%    		{border-color: $circle-animation-start-color;  }
    100%   		{border-color: $circle-animation-start-color;  }
}
.hero-section--circle-4 {
	width: ($hero-section--circle-base + 30vw);
	height: ($hero-section--circle-base + 30vw);
	margin-left: -(($hero-section--circle-base + 30vw) / 2);
	margin-top: -(($hero-section--circle-base + 30vw) / 2);
@include circle-animation(circle-4);
}
@keyframes circle-4 {
    0%   		{border-color: $circle-animation-start-color;  }
    11%   		{border-color: $circle-animation-start-color;  }
    13%   		{border-color: $circle-animation-ripple-color; @include circle-animation-ripple-shadow}
    15%    		{border-color: $circle-animation-start-color;  }
    100%   		{border-color: $circle-animation-start-color;  }
}
.hero-section--circle-5 {
	width: ($hero-section--circle-base + 40vw);
	height: ($hero-section--circle-base + 40vw);
	margin-left: -(($hero-section--circle-base + 40vw) / 2);
	margin-top: -(($hero-section--circle-base + 40vw) / 2);
@include circle-animation(circle-5);
}
@keyframes circle-5 {
    0%   		{border-color: $circle-animation-start-color;  }
    13%   		{border-color: $circle-animation-start-color;  }
    15%   		{border-color: $circle-animation-ripple-color; @include circle-animation-ripple-shadow}
    17%    		{border-color: $circle-animation-start-color;  }
    100%   		{border-color: $circle-animation-start-color;  }
}
.hero-section--circle-6 {
	width: ($hero-section--circle-base + 50vw);
	height: ($hero-section--circle-base + 50vw);
	margin-left: -(($hero-section--circle-base + 50vw) / 2);
	margin-top: -(($hero-section--circle-base + 50vw) / 2);
@include circle-animation(circle-6);
}
@keyframes circle-6 {
    0%   		{border-color: $circle-animation-start-color;}
    15%   		{border-color: $circle-animation-start-color;}
    17%   		{border-color: $circle-animation-ripple-color; @include circle-animation-ripple-shadow}
    19%    		{border-color: $circle-animation-start-color;}
    100%   		{border-color: $circle-animation-start-color;}
}
.hero-section--circle-7 {
	width: ($hero-section--circle-base + 60vw);
	height: ($hero-section--circle-base + 60vw);
	margin-left: -(($hero-section--circle-base + 60vw) / 2);
	margin-top: -(($hero-section--circle-base + 60vw) / 2);
@include circle-animation(circle-7);
}
@keyframes circle-7 {
    0%   		{border-color: $circle-animation-start-color;}
    17%   		{border-color: $circle-animation-start-color;}
    19%   		{border-color: $circle-animation-ripple-color; @include circle-animation-ripple-shadow}
    21%    		{border-color: $circle-animation-start-color;}
    100%   		{border-color: $circle-animation-start-color;}
}
.hero-section--circle-8 {
	width: ($hero-section--circle-base + 70vw);
	height: ($hero-section--circle-base + 70vw);
	margin-left: -(($hero-section--circle-base + 70vw) / 2);
	margin-top: -(($hero-section--circle-base + 70vw) / 2);
@include circle-animation(circle-8);
}
@keyframes circle-8 {
    0%   		{border-color: $circle-animation-start-color;}
    19%   		{border-color: $circle-animation-start-color;}
    21%   		{border-color: $circle-animation-ripple-color; @include circle-animation-ripple-shadow}
    23%    		{border-color: $circle-animation-start-color;}
    100%   		{border-color: $circle-animation-start-color;}
}
.hero-section--circle-9 {
	width: ($hero-section--circle-base + 80vw);
	height: ($hero-section--circle-base + 80vw);
	margin-left: -(($hero-section--circle-base + 80vw) / 2);
	margin-top: -(($hero-section--circle-base + 80vw) / 2);
@include circle-animation(circle-9);
}
@keyframes circle-9 {
    0%   		{border-color: $circle-animation-start-color;}
    21%   		{border-color: $circle-animation-start-color;}
    23%   		{border-color: $circle-animation-ripple-color; @include circle-animation-ripple-shadow}
    25%    		{border-color: $circle-animation-start-color;}
    100%   		{border-color: $circle-animation-start-color;}
}
.hero-section--circle-10 {
	width: ($hero-section--circle-base + 90vw);
	height: ($hero-section--circle-base + 90vw);
	margin-left: -(($hero-section--circle-base + 90vw) / 2);
	margin-top: -(($hero-section--circle-base + 90vw) / 2);
@include circle-animation(circle-10);
}
@keyframes circle-10 {
    0%   		{border-color: $circle-animation-start-color;}
    23%   		{border-color: $circle-animation-start-color;}
    25%   		{border-color: $circle-animation-ripple-color; @include circle-animation-ripple-shadow}
    27%    		{border-color: $circle-animation-start-color;}
    100%   		{border-color: $circle-animation-start-color;}
}
.hero-section--circle-11 {
	width: ($hero-section--circle-base + 100vw);
	height: ($hero-section--circle-base + 100vw);
	margin-left: -(($hero-section--circle-base + 100vw) / 2);
	margin-top: -(($hero-section--circle-base + 100vw) / 2);
@include circle-animation(circle-11);
}
@keyframes circle-11 {
    0%   		{border-color: $circle-animation-start-color;}
    25%   		{border-color: $circle-animation-start-color;}
    27%   		{border-color: $circle-animation-ripple-color; @include circle-animation-ripple-shadow}
    29%    		{border-color: $circle-animation-start-color;}
    100%   		{border-color: $circle-animation-start-color;}
}
.section-text {
	margin-bottom: 20px;
}
.section-anchor {
	position: relative;
	top: 20px;
}
.pressup-app-section {
	position: relative;
	// text-align: center;
	img {
		display: block;
		position: relative;
		width: 80%;
		max-width: 330px;
		margin: auto;
		margin-top: 40px;
	}
}
.footer {
	text-align: center;
	// border-top: 1px solid #000;
	padding: 44px;
	background-color: #f7f7f7;
	a {
		// margin-top: 20px;
	}
	img {
		margin-bottom: 30px;
		max-width: 20px;
		display: inline-block;
	}
}
